.App {
  text-align: center;
  background-image: url(https://pngimg.com/uploads/pokeball/pokeball_PNG8.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 1vh;
  background: transparent;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

